        .foot{
            border-top:1px solid #eceff2;
        }

        .foot a{
            text-decoration: none;
        }
        .foot p{
            width:300px;
            margin:10px auto;
            text-align: center;
            color: grey;
        }