
        .body-right{
            float:left;
            width:20%;
        }

        .new-article{
            margin-top:40px;
        }

        .new-article-info:after{
            content:'';
            clear: both;
            display: block;
        }
        .new-article-info img{
            width: 80px;
            height: 80px;
            float: left;
        }

        .new-article-info a{
            text-decoration: none;
            color: deepskyblue;
            font-size: 13px;
        }
        .info{
            margin-top: 20px;
            padding-left:90px;
        }